*{
    /* border: 1px red solid; */
}

#header{
    width: 100vw;
    height: 10vh;
    background-color: rgb(8, 69, 8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
}

#image{
    width: 100vw;
    height: 70vh;
    background-color: rgb(8, 69, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}

#buttons{
    width: 100vw;
    height: 20vh;
    background-color: white;
}

.title{
    color: white;
    font-weight: 400;
    height: 6vh;
    font-family: "Roboto Mono", monospace;
}

.button{
    height: 6vh !important;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 32px;
    background-color: white;
    color: rgb(8, 69, 8);
    font-weight: 700;
    font-size: 1em;
    width: 5vw;
    margin-left: 1vw;
    border: 0;
}

.container{
    display: flex   
}

.containerImage{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#text1{
    font-size: 4em;
    color: white;
    font-weight: 700;
}

#text2{
    color: white;
    font-weight: 100;
}