<div id="header">
    <h1 class="title">Marketplace</h1>

    <div class="container">
        <button class="button" onclick="window.location.href='/login'">Log in</button>
        <button class="button" onclick="window.location.href='/registry'">Sign in</button>
    </div>

</div>
<div id="image">
    <div class="containerImage">
        <p id="text1">
            Conecta con la naturaleza, descubre el mundo de manera responsable.
        </p>
        <p id="text2">
            Regístrate y descubre el viaje de tu vida.
        </p>
    </div>
    <div class="containerImage">
        <img src="../../../assets/LandingPageAsset.png" alt="Amigos de viaje">
    </div>
</div>
<div id="buttons">
    
</div>